<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= @booking.errors.count %>個のエラーがあります。</h2>

      <ul>
        <% booking.errors.full_messages.each do |error| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group pt-4 pb-3">
    <%= form.label :タイトル %>
    <%= form.text_field :title, placeholder: "メールのタイトルをこちらに入力してください", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :内容 %>
    <%= form.text_area :content, placeholder: "祝い言をこちらに入力してください", row: 7, class: "form-control" %>
  </div>

  <%= form.label :祝い言を送る相手 %>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      <%= form.select :contact_id, Contact.all.pluck(:name, :id) %>  
    </button>
  </div>      

  <div class="field">
    <%= form.label :日付 %>
    <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= form.date_field :start_time %>
    </button>
  </div>

  <div class="field">
    <%= form.label :祝い言カテゴリー %>
    <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= form.select :category_id, Category.all.pluck(:name, :id) %>
    </button>
  </div>

  <div class="text-center">
    <%= form.submit :登録, class: "btn btn-warning" %>
  </div>
<% end %>
