<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= @booking.errors.count %>個のエラーがあります。</h2>

      <ul>
        <% booking.errors.full_messages.each do |error| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :祝い言を送る相手 %>
    <%= form.select :contact_id, Contact.all.pluck(:name, :id) %>
  </div>

  <div class="field">
    <%= form.label :日付 %>
    <%= form.date_field :date_on %>
  </div>

  <div class="field">
    <%= form.label :祝い言カテゴリー %>
    <%= form.select :category_id, Category.all.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit :登録, class: "btn btn-warning" %>
  </div>
<% end %>
