<div class="container mt-5 text-center">
  <h1><%= @user.name %>のページ</h1>
  <p style="margin: 20px; font-size: 14px;">
    うっかり仲良しの友人の誕生日を忘れていて後になって気がついた、自分の結婚記念日にパートナーにメッセージを送るのを忘れてしまった、クリスマスのメッセージや新年の挨拶を送っていなかった、などありませんか？大切な日の祝い言（ごと）を伝え忘れて苦い経験をしてしまったことがある方は多いのではないでしょうか。この問題を解決してくれるのがこのアプリです。つい忘れがちな、自分の大切な人への祝い言を自動で送ってくれます。
  </p>
</div>

<div class="container mt-5 text-center">
  <h2>送信予定一覧</h2>
  <%= month_calendar events: @booking_events do |date, bookings| %>
    <div class="day">
    <%= date.day %>
    </div>
    <% bookings.each do |booking| %>
      <%= booking.contact.name %>さん宛
      <p>"<%= booking.category.name %>"の祝い言</p>
    <% end %>
  <% end %>
</div>

<table>
  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col-auto"><%= f.search_field :contact_name_cont, placeholder: "祝い言を送る相手", class: "form-control" %></div>
      <div class="col-auto"><%= f.submit '検索', class: "btn btn-primary" %></div>
    </div>
  <% end %>
</table>
<br>
<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>日付</th>
      <th>祝い言カテゴリー</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.contact.name %></td>
        <td><%= booking.start_time.strftime('%Y年%m月%d日') %></td>
        <td><%= booking.category.name %></td>          
        <td><button type="button" class="btn btn-outline-info"><%= link_to '詳細', booking_path(booking.id) %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

  

<%= paginate @bookings %>