<%= form_with(model: @contact, local: true ) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= @contact.errors.count %>個のエラーがあります。</h2>

      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit :登録, class: "btn btn-warning" %>
  </div>
<% end %>